@model TovarsTitleViewModel

<div class="navn  sticky-top ">
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg "style="background-color: #1968AA">
      <div class="container ">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand d-none d-lg-flex" >
          <img src="/img/logo/logo-1.jpg" class="" alt="" />
          Logo
        </a>
        <form class="d-flex w-75 " asp-action="TovarSearch" asp-controller="Tovar"  method="get">          
          <input class="form-control me-2" name="searhString" type="search" placeholder="Поиск" aria-label="Search">          
        </form>
        <div class="container-fluid  w-25">        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 w-100">
              <li class="nav-item text-center rounded-1 w-100 bg-light " >
                  @await Component.InvokeAsync("CartSummary")
              </li>
              <li class="rounded-1 bg-light w-100 d-lg-none d-xl-none d-xxl-none nav-item ">
                <a class="nav-link" asp-action="TitleIndex" asp-controller="Home">Список тайтолов</a>
              </li> 
               <li class="rounded-1 bg-light w-100 d-lg-none d-xl-none d-xxl-none nav-item ">
                <a class="nav-link" asp-action="CategoryIndex" asp-controller="Home">Список категорий</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Профиль</a>
              </li>           
            </ul>            
          </div>
      </div>                                        
    </nav>
</div>

<div class="main mt-4">
           <div class="container border bg-light">
               <h3 class="main__title">@Model.Tovar.name</h3>
               <!-- /.main__title -->
               <div class="main__tovarifo row">

                <div class="main__tovar  p-3 col-lg-3 d-block">
                    <div class="mb-3">
                        <img src="img/img-fig2.jpg" alt="" class=" main__img shadow-lg rounded">                                         
                    </div>
                    <div class="row d-none d-lg-flex">
                      <div class="bloc col-lg-4 mb-2">
                        <img src="img/img-Fig2.jpg" alt="" class=" main__microImg col shadow-lg rounded">
                      </div>
                      <div class="bloc col-lg-4 mb-2">
                        <img src="img/img-Fig2.jpg" alt="" class=" main__microImg col shadow-lg rounded">
                      </div>
                      <div class="bloc col-lg-4 mb-2">
                        <img src="img/img-Fig2.jpg" alt="" class=" main__microImg col shadow-lg rounded">
                      </div>
                      <div class="bloc col-lg-4 mb-2">
                        <img src="img/img-Fig2.jpg" alt="" class=" main__microImg col shadow-lg rounded">
                      </div>
                    </div>

                </div>
                <!-- /.main__tovar -->
                <div class="main__info col-lg-5 ms-lg-5 p-3">
                  <div class="main__charactirictic">
                    <h5 class="main__subTitle">
                      Характеристика товара
                    </h5>
                    <!-- /.main__subTitle -->
                    <div class="main__name">
                      <span>Тайтл:</span>
                      <span>@Model.Tovar.titles.name</span>
                    </div>
                    <!-- /.main__name -->
                    @if (Model.Tovar.category.name.Contains("Фигурк"))
                    {
                       <div class="main__material">
                       
                      <span>Материал:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Высота:</span>
                      <span>@Model.Tovar.hight</span>
                        </div>
                    }
                    else if (Model.Tovar.category.name.Contains("Рюкзак"))
                    {
                        <div class="main__material">
                        
                      <span>Материал:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Размеры:</span>
                      <span>@Model.Tovar.hight x @Model.Tovar.hight x @Model.Tovar.width</span>
                        </div>

                    }
                    else if (Model.Tovar.category.name.Contains("Шоппер"))
                    {
                        <div class="main__material">
                      
                      <span>Материал:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Размеры:</span>
                      <span>@Model.Tovar.hight"x"@Model.Tovar.hight</span>
                        </div>
                    }
                    else if (Model.Tovar.category.name.Contains("Значок деревянный"))
                    {
                        <div class="main__material">
                      
                      <span>Материал:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Размеры:</span>
                      <span>@Model.Tovar.hight"x"@Model.Tovar.hight</span>
                        </div>
                    }
                    
                    else if (Model.Tovar.category.name.Contains("Кружк"))
                    {
                        <div class="main__material">
        
                      <span>Формат:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Объём:</span>
                      <span>@Model.Tovar.hight</span>
                        </div>
                    }
                     else if (Model.Tovar.category.name.Contains("Манг"))
                    {
                        <div class="main__material">
      
                      <span>Бренд:</span>
                      <span>@Model.Tovar.materials</span>
                    </div>
                    <!-- /.main__material -->
                    <div class="main__hight">
                      <span>Размеры:</span>
                      <span>@Model.Tovar.hight"x"@Model.Tovar.hight</span>
                        </div>
                        <div class="main__hight">
                      <span>Год выпуска:</span>
                      <span></span>
                        </div>
                        <div class="main__hight">
                      <span>Автор:</span>
                      <span></span>
                        </div>
                         <div class="main__hight">
                      <span>Количество страниц:</span>
                      <span></span>
                        </div>
                    }
                  </div>
                  <!-- /.main__charactirictic -->
                </div>                
                <!-- /.main__info -->
                <div class="col-lg-3 p-2">
                  <div class="main__btns">
                    <h5 class="main__price">@Model.Tovar.price.ToString("c")</h5>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="TovarsId" value="@Model.Tovar.TovarsId" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="main__btn btn btn-primary d-grid">Купить</button>     
                    </form>
                                   
                  </div>                  
                </div>
               </div>
               <!-- /.main__tovarifo -->               
           </div>
           <!-- /.container -->
       </div>
       <!-- /.main -->

       <div class="Tovars">
          <div class="container">
            <div class="row mt-5">
                <span class="fs-5 mb-3">Товары по тайтлу @Model.Tovar.titles.name</span>
                @foreach(var c in Model.Tovars)
            {
                <div class="col-xl-3  col-6 mb-2 ">
                <div class="tovars__tit shadow-lg rounded-3 border border-1 text-center">
                  <a asp-action="TovarIndex" asp-route-TovarId="@c.TovarsId" class="tovars__links link-dark">
                    <img src="/img/img-Fig2.jpg" alt="" class="tovars__img rounded">
                    <div class="tovars__span">@c.name</div>
                  </a>                
                    <!-- /.tovars__span -->
                    <div class="tovars__info d-flex p-2 justify-content-between mt-3">
                      <div class="tovars__price">@c.price.ToString("c")</div>
                        <!-- /.towars__price -->
                      <a asp-action="TovarIndex" asp-route-TovarId="@c.TovarsId" class="tovars__links border border-1 rounded-3">
                        <div class="tovars__cart"> content</div>                  
                      </a>                               
                     </div>              
                </div>                      
              </div>
            }
            

            </div>
            
          </div>
       </div>
       <!-- /.main__tovars -->